.container {
  font-family: 'PressStart2P';
  font-weight: normal;
  font-style: normal;
  padding: 0 2rem;
  background-color: #111;
  color: white;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  width: 755px;
  max-width: 100%;
  margin: auto;
}

.progressBarContainer {
  position: relative;
}

.progressBar {
  position: absolute;
  left: 0;
  top: 0;
  border-color: #eee;
  border-width: 5px;
  border-right-style: solid;
  overflow: hidden;
}

.progressBar.projectionBar {
  top: 3px;
  height: 24px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 100%;
}

.table th:first-child {
  width: 18%;
}

.table th:last-child {
  width: 82%;
}

.table thead {
  text-transform: uppercase;
  color: red;
}

.row {
  margin: 50px 0;
}

.table td div {
  height: 30px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.table th.emoji {
  width: 32px;
}

.table td.emoji {
  padding-right: 10px;
  font-size: 140%;
  position: relative;
}

.title span.titleArrow {
  margin: 10px;
  padding: 0 50px;
  display: inline-block;
  width: 150px;
}

.title span.titleArrow a, .title span.titleArrow a:link, .title span.titleArrow a:visited {
  color: #999;
}

.title span.titleArrow a:hover {
  color: white;
}

.title span.titleCaption {
  display: block;
  text-align: center;
  margin: 5px;
}

.title .titleDateShort {
  display: none;
}

.title {
  margin: 0;
}

.histogram {
  display: flex;
  flex-direction: row;
}

.histogram div {
  padding: 5px;
  margin: 5px;
}

.histogram>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
  width: 65px;
  text-align: center;
}

.histogram div.histobar {
  background-color: green;
}

.achievements {
  display: flex;
}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media (max-width: 800px) {
  .table, .table tbody, .table thead, .table tr, .table th, .table td {
    display: block;
    width: 100%;
  }
  .table thead {
    display: none;
  }
  .table td div {
    margin-left: 0;
  }
  .title span.titleDash {
    display: none;
  }
  .table td.emoji {
    display: inline;
  }
  .table td.empty.emoji {
    display: none;
  }
  .table td.contractor {
    display: inline;
  }
  .title span.titleArrow {
    margin: 10px;
    padding: 0;
    display: inline;
  }
  .title .titleDateShort {
    display: inline;
  }
  .title .titleDateLong {
    display: none;
  }
  .main {
    align-items: flex-start;
  }
}
